body {
  margin: 0;
}

.shooting-star {
  height: 100px;
  display:none;
}

.shooting-stars1 {
  animation: shooting-star1 2s;
}

.shooting-stars2 {
  animation: shooting-star2 1s;
}

#shooting-stars1 {
  height: 100px;
  /* display:none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* animation: shooting-star 3s infinite; */
}

#shooting-stars2 {
  height: 60px;
  /* display:none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* animation: shooting-star 3s infinite; */
}

@keyframes shooting-star1 {
  10% {opacity: 1;}
  80% {opacity: 1;}
  100% {transform: translate(-600px,600px); opacity: 0;}
}

@keyframes shooting-star2 {
  10% {opacity: 1;}
  80% {opacity: 1;}
  100% {transform: translate(-500px,500px); opacity: 0;}
}

.sky-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #690375 67%, #231557 100%); */
  /* background-color: #000505f2;  */
  background-color: #000505d9;
  /* background-color: #000505ed; */
  margin: 0;
  padding: 0;
  position: fixed;
  min-height: 540px;
}

.stars-0 {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-total%20flipped.png) repeat top center;
  z-index:0;
  animation-name: shine-section-0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-0 {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.stars-1 {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:25%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-part%201.png) repeat top center;
  z-index:0;
  animation-name: shine-section-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-1 {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.stars-2 {
  position:absolute;
  top:0;
  left:25%;
  right:0;
  bottom:0;
  width:25%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-part%202.png) repeat top center;
  z-index:0;
  animation-name: shine-section-2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-2 {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}

.stars-3 {
  position:absolute;
  top:0;
  left:50%;
  right:0;
  bottom:0;
  width:25%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-part%203.png) repeat top center;
  z-index:0;
  animation-name: shine-section-3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-3 {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}

.stars-4 {
  position:absolute;
  top:0;
  left:65%;
  right:0;
  bottom:0;
  width:35%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-part%201.png) repeat top center;
  z-index:0;
  animation-name: shine-section-4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-4 {
  0%   {opacity: 1;}
  50%  {opacity: 0.4;}
  100% {opacity: 1;}
}

.stars-5 {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(https://cdn2.hubspot.net/hubfs/5964876/Personal%20Website/Rewind/stars-flipped-horizontally.png) repeat top center;
  z-index:0;
  animation-name: shine-section-5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shine-section-5 {
  0%   {opacity: 1;}
  50%  {opacity: 0.1;}
  100% {opacity: 1;}
}
