.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 385px;
  height: 150px;
  background-color: #000505;
  z-index: 999;
  display: grid;
  grid-template-columns: 0.65fr repeat(4, 1fr);
  grid-template-rows: 150px;
  grid-template-areas: 
  "logo icons . menuItems menuItems";
}