@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');


.content-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin-top: 62px;
  margin-bottom: 150px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.5fr 150px auto;
  grid-template-areas: 
  "header header header header"
  ". header2 header2 ."
  "lists lists lists lists";
}

h1.header-home {
  display: inline-block;
  padding: 10px;
  font-size: 50px;
  grid-area: header;
  place-self: center;
  font-family: 'Bungee Hairline', cursive;
  font-size: 120px;
  text-align: center;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px);
  opacity: 0;
  animation: moveDown 1s ease-out forwards;
}

@keyframes moveDown {
  to {transform: translateY(0px); opacity: 1;}
}

h2 {
  grid-area: header2;
  color: #fff;
  font-family: Bungee Hairline, cursive;
  justify-self: center;
  font-size: 28px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {opacity: 1;}
}

span.sun {
  grid-area: sun;
  color: white;
  margin-right: 20px;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards;
}

span.sun:hover {
  color: white;
  text-shadow: 0 0 5px white;
  transform: scale(1.3);
  transition: 0.5s;
}

span.moon {
  grid-area: moon;
  color: white;
  margin-left: 20px;
  place-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

span.moon:hover {
  color: white;
  text-shadow: 0 0 5px white;
  transform: scale(1.3);
  transition: 0.5s;
}

.lists-container {
  grid-area: lists;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto auto;
  gap: 3em;
  grid-template-areas: 
  "list1 list2";
  opacity: 0;
  animation: fadeUp 1s forwards;
  transform: translateY(100px);
}

@keyframes fadeUp {
  to {opacity: 1; transform: translateY(0px);}
}

#first-box {
  grid-area: list1;
  width: 400px;
  height: auto;
  justify-self: end;
  padding: 30px 35px 30px 45px;
  font-size: 20px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  list-style: none;
}

#second-box {
  grid-area: list2;
  width: 400px;
  height: auto;
  place-self: start;
  padding: 30px 35px 30px 45px;
  font-size: 20px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  list-style: none;
}

.dark {
  color: white;
  background-color: #000505;
}

.light {
  color: #000505; 
  background-color: #ced3dc;
}

@keyframes light-to-dark {
  100% {color: #ced3dc; background: #000505;}
}

@keyframes dark-to-light {
  100% {color: #000505; background: #ced3dc;}
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1020px) {
  .lists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
  }
}

@media only screen and (max-width: 710px) {
  h1.header-home {
    font-size: 90px;
  } 
}

@media only screen and (max-width: 540px) {
  h1.header-home {
    font-size: 60px;
  } 

  #first-box, #second-box {
    width: 300px;
  }
}