@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

p {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.75;
  letter-spacing: .5px;
  margin: 0;
  text-indent: 50px;
}

p a {
  text-decoration: none;
  color: #4b88a2;
  transition: text-decoration 2s ease;
}

p a:hover {
  text-decoration: underline;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #000505;
  z-index: 999;
  display: grid;
  grid-template-columns: .65fr 1fr .35fr repeat(3, 1fr);
  grid-template-rows: 62px;
  grid-template-areas: 
  "logo logo . toggle menuItems menuItems";
}

a.logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
  margin-left: 30px;
}

img.logo {
  height: 45px;
}

.icons {
  display: flex;
  align-items: center;
  width: 120px;
  margin-left: 85px;
  justify-self: start;
  line-height: 62px;
  grid-area: logo;
}

span.github, span.linkedin {
  color: white;
  margin: 16px;
}

.fa-github, .fa-linkedin-in {
  font-size: 20px;
  cursor: pointer;
}

.mode-toggle {
  grid-area: toggle;
  place-self: center;
}

ul.navigation-menu {
  grid-area: menuItems;
  color: white;
  align-items: center;
  justify-self: end;
  margin-right: 20px;
  list-style-type: none;
  overflow: hidden;
  line-height: 18px;
  display: flex;
}

ul.navigation-menu li {
  float: left;
}

ul.navigation-menu li a {
  display: block;
  color: white;
  padding: 16px;
  font-weight: bolder;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 2px;
}

ul.navigation-menu li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
  margin-top: 6px;
}

ul.navigation-menu li a:hover::after {
  width: 100%;
  transition: width .3s;
}

span.sun-nav {
  grid-area: icons;
  color: #ced3dc;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards;
}

span.sun-nav:hover {
  color: grey;
  text-shadow: 0 0 5px grey;
  transform: scale(1.3);
  transition: 0.5s;
}

span.moon-nav {
  grid-area: icons;
  color: grey;
  place-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

span.moon-nav:hover {
  color: grey;
  text-shadow: 0 0 5px grey;
  transform: scale(1.3);
  transition: 0.5s;
}

.fa-sun, .fa-moon {
  font-size: 18px;
}

span.sun-nav-l {
  grid-area: icons;
  color: #3A4040;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-right: 16px;
}

span.moon-nav-l {
  grid-area: icons;
  color: #3A4040;
  place-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-left: 16px;
  margin-right: 16px;
}

span.sun-nav-l:hover, span.moon-nav-l:hover {
  color: white;
  text-shadow: 0 0 5px grey;
  transform: scale(1.3);
  transition: 0.5s;
}

span.sun-nav-l:hover i, span.moon-nav-l:hover i {
  color: white;
  text-shadow: 0 0 5px grey;
  transform: scale(1.3);
  transition: 0.5s;
}

/* HAMBURGER MENU */

.mobile-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #000505;
  z-index: 999;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 62px;
  grid-template-areas: 
  "logo-mobile . . . . . mobileIcon";
}

.menu-icon {
  color: white;
  grid-area: mobileIcon;
  place-self: center;
  cursor: pointer;
}

.fas.fa-bars {
  font-size: 20px;
}

.mobile-menu {
  display: none;
  width: 100vw;
  background-color: #000505;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 410px;
  z-index: 999;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "m-close . ."
  ". m-toggle ."
  ". m-menuItems ."
  ". m-menuIcons ."
  ". . .";
}

.close-mobile {
  color: white;
  grid-area: m-close;
  justify-self: start;
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;
}

.fa-times {
  font-size: 25px;
}

.mobile-toggle {
  grid-area: m-toggle;
  place-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
  "m-sun m-moon";
}

span.sun-nav-m {
  grid-area: m-sun;
  color: #ced3dc;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-right: 16px;
}

span.moon-nav-m {
  grid-area: m-moon;
  color: #ced3dc;
  place-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-left: 16px;
  margin-right: 16px;
}

span.moon-nav-m i.fa-moon, span.sun-nav-m i.fa-sun {
  font-size: 30px;
}

ul.mobile-navigation-menu {
  grid-area: m-menuItems;
  color: white;
  place-self: center;
  list-style-type: none;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  padding-inline-start: 0px;  
}

ul.mobile-navigation-menu li a, ul.mobile-navigation-menu a {
  display: block;
  color: white;
  padding: 25px;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
}

.icons-m {
  grid-area: m-menuIcons;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
  "m-github m-linkedin";
}

span.github-m {
  grid-area: m-github;
  color: white;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-right: 16px;
}

span.linkedin-m {
  grid-area: m-linkedin;
  color: white;
  place-self: start;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-left: 16px;
  margin-right: 16px;
}

span.linkedin-m i.fa-linkedin-in, span.github-m i.fa-github {
  font-size: 30px;
}

.logo-mobile {
  height: 35px;
  grid-area: logo-mobile;
  justify-self: end;
  align-self: center;
}

@keyframes fadeOut {
  to {opacity: 0;}
}

@media only screen and (max-width: 780px) {
  .header-container {
    display: none;
  }

  .mobile-menu-container {
    display: grid; 
  }
}